info-connect-hub/executable-jars/*.jar filter=lfs diff=lfs merge=lfs -text
info-connect-oauth-hub/executable-jars/*.jar filter=lfs diff=lfs merge=lfs -text
info-connect-rpa-hub/executable-jars/*.jar filter=lfs diff=lfs merge=lfs -text
